{{ block "expense_form" . }}
<form id="expense-form" class="closed" hx-post="/add_expense">
    <div class="form-group">
        <label for="category">Category</label>
        <select id="category" name="category" required>
            <option value="" disabled selected>pick a category...</option>
            <option value="food">food</option>
            <option value="gas">gas</option>
            <option value="pets">pets</option>
            <option value="rent">rent</option>
            <option value="car">car</option>
            <option value="amazon">amazon</option>
            <option value="clothes">clothes</option>
            <option value="essentials">essentials</option>
            <option value="electric">electric</option>
            <option value="heat">heat</option>
            <option value="internet">internet</option>
            <option value="coffee">coffee</option>
            <option value="car insurance">car insurance</option>
            <option value="other">other</option>
        </select>
    </div>
    <div class="form-group">
        <label for="amount">Amount</label>
        <input type="number" name="amount" placeholder="enter amount..." step="0.01" required>
    </div>
    <button type="submit">Add Expense</button>
</form>
{{ end }}