{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <link rel="stylesheet" href="web/css/index.css">
    <link rel="stylesheet" href="web/css/header.css">
    <link rel="stylesheet" href="web/css/summary.css">
    <link rel="stylesheet" href="web/css/expense_form.css">
    <title>KashTrack</title> 
</head>
<body>
    <div class="hidden" id="fader"></div>
    {{ template "header" . }}
    {{ template "summary" . }}
    {{ template "expense_form" . }}
    <script src="web/js/index.js"></script>
</body>
</html>
{{ end }}