{{ block "index" . }}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://unpkg.com/htmx.org@2.0.3"></script>
    <link rel="stylesheet" href="web/css/index.css">
    <link rel="stylesheet" href="web/css/header.css">
    <link rel="stylesheet" href="web/css/summary.css">
    <link rel="stylesheet" href="web/css/expense_form.css">
    <link rel="stylesheet" href="web/css/expense_list.css">
    <link rel="stylesheet" href="web/css/login_form.css">
    <title>KashTrack</title> 
</head>
<body>
    {{ template "header" . }}
    {{ if .LoggedIn }}
        <div class="hidden" id="fader"></div>
        {{ template "summary" .CurrentMonthSum }}
        {{ template "expense_list" .Expenses }}
        {{ template "expense_form" . }}
        <script src="web/js/index.js"></script>
    {{ else }}
        {{ template "login_form" . }}
    {{ end }}
</body>
</html>
{{ end }}