#add-button-container {
    grid-row: 4/5;
    grid-column: 3/4;
    display: flex;
    align-items: center;
    justify-content: center;
}

#add-expense-btn {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    padding-left: 0.75rem;
    padding-right: 0.75rem;
    background-color: #007bffd1;
    color: white;
    border-radius: 5px;
}

#add-expense-btn:hover {
    opacity: 0.85;
}

/* Mobile */
@media (max-width: 768px) {
    #add-button-container {
        grid-row: 4/5;
        grid-column: 2/5;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}