#event-table {
    margin: 0 auto;
    width: 100vw;
    background-color: white;
}

thead {
    position: sticky;
    top: calc(23vh + 1px);
    z-index: 1;
    text-align: left;
    /* border-bottom: 1px solid rgba(128, 128, 128, 0.25); */
    background-color: whitesmoke;
}

th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

tbody {
    overflow-y: auto;
}

td {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
}