#expense-table-container {
    grid-row: 3/4;
    grid-column: 2/5;
    background-color: white;
    max-height: 60vh;
    overflow: hidden;
    overflow-y: scroll;
}

#expense-table {
    width: 100dvw;
}

thead {
    text-align: left;
    background-color: white;
    position: sticky;
    top: 0;
    box-shadow: 0 1px 1px -1px rgb(0, 0, 0);
    z-index: 1;
}

#header-row {
    color: rgba(0, 0, 0, 0.75);
}

th {
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}

tbody tr:hover {
    background-color: #f0f0f0;
}

td {
    color: rgba(0, 0, 0, 0.65);
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}