* {
    margin: 0;
    padding: 0;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
    height: 100dvh;
    display: grid;
    overflow-y: hidden;
    grid-template-rows: 5dvh 25dvh 1fr 10dvh;
    grid-template-columns: 7.5dvw 1fr 1fr 7.5dvw;
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
  }
  
th, td {
    padding: 0;
    border: none;
    text-align: left;
}

#fader {
    z-index: 3;
    position: absolute;
    height: 100dvh;
    width: 100dvw;
    opacity: 0.25;
    background-color: black;
}

#fader.hidden {
    display: none;
}
