* {
    margin: 0;
    padding: 0;
}

button, input[type="submit"], input[type="reset"] {
	background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
}

body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"
}

table {
    border-collapse: collapse; /* Removes default spacing between cells */
    border-spacing: 0;         /* Ensures no spacing */
    width: 100%;               /* Optional: Makes the table fill its container */
    margin: 0;
    padding: 0;
  }
  
  th, td {
    padding: 0;
    border: none;
    text-align: left; /* Default alignment */
  }

#fader {
    z-index: 3;
    position: absolute;
    height: 100%;
    width: 100%;
    opacity: 0.25;
    background-color: black;
}

#fader.hidden {
    display: none;
}
